# Build ignores
target
*/work

# IntelliJ ignores
*.iml
.idea/*
!.idea/codeStyleSettings.xml

# VS Code
.vscode/*

# Netbeans ignores
nbactions*.xml
nb-configuration.xml

# Temporary files
*.swp
*~
*.DS_Store

#Python compiled files
*.pyc
